@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html{
  font-family:  Helvetica, sans-serif;
}
body{
  overflow-y: scroll;
}
@layer utilities{

  .center{
    @apply flex justify-center items-center;
  }
  .center-col{
    @apply flex flex-col justify-center items-center;
  }
}
@layer base{

  input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
  }
}