@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html{
  font-family:  Helvetica, sans-serif;
}
@layer utilities{

  .center{
    @apply flex justify-center items-center;
  }
  .center-col{
    @apply flex flex-col justify-center items-center;
  }
}
.gradiante-historias{
  background: rgb(255,201,0);
  background:linear-gradient(36deg, rgb(255,201,0) 13% , rgb(255,0,95) 73%, rgb(255,9,237) 100%)
}